#social-page {
    height: 100vh;  
    color: #f2f2ff;
    background: #1D1620;
}

main {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos dentro do contêiner */
    gap: 1rem;
    width: 40%;
}

#searchBar {
    display: flex;
    align-items: center;
    background-color: #2D0F40;
    border: 3px solid #ccc;
    border-radius: 8px; /* Reduzindo o valor do border-radius para menos arredondado */
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 70%;
    height: 8%;
}

#searchBar:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#searchBar input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    color: #f2f2ff; /* Ajusta a cor do texto do input para ficar visível */
}

#searchBar input::placeholder {
    color: #aaa;
}

#searchIcon {
    width: 14px;
    height: 14px;
    color: white; 
    fill: currentColor; 
}

#resultBox {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: #2D0F40;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 25rem; /* Ajusta a altura para criar um quadrado maior */
}

#socialList {
    width: 40%;
}
