#page {
    background: #1D1620;
    height: 100vh;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 94%;
        margin-left: 3%;
        margin-top: 3%;

        border: #f2f2ff solid 2px;
        border-radius: 22px;

        background: #2D0F40;
        color: #f2f2ff;

        padding: 13px 13px;
        gap: 20px;
        nav{
            width: 30%;
            ul{
                width: 100%;
                background-color: #8c69a4;
                display: flex;
                gap:20%;
                justify-content: center;
                padding: 10px;
                border-radius: 22px;
                border: #f2f2ff solid 2px;
                li{
                    list-style: none;

                    #select{
                        border-bottom: #f2f2ff solid 2px;
                        
                    }
                    a{
                        padding: 2px 5px;
                        text-decoration: none;
                        color: #f2f2ff;
                    }
                }
            }
        }
    
    }
}

