.modal-overlay {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;
    
    background: rgba(0, 0, 0, 0.9);

    .modal {
        background: #3B194D;
        color: #f2f2ff;
        
        header {
            background: #f2f2ff;
            color: #3B194D;
            font-size: 1.1rem;
            text-align: center;
            border-radius: 10px;
        }

        border: 2px solid #f2f2ff;
        border-radius: 12px;

        min-width: 25vw;
        min-height: 50vh;

        .modal-content {
            padding: 1vh 2vw;
        }
    }
}