#page {
    background: #1D1620;

    height: 100vh;
    
    #container {
        padding: 2.6vh 3vw;

        #profile-pic {
            width: 170px; // Not responsive
            height: 165px;
        }
    }

    #profile-data {
        border: 2px solid #fff;
        border-radius: 22px;

        background: #2D0F40;

        display: flex;
        color: #fff;

        padding: 13px 13px;

        gap: 20px;

        div {
            #hp-sec, #xp-sec {
                margin-top: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
        
            #lvl-money {
                display: flex;
                justify-content: space-between;
                margin-top: 4px;

                padding: 0 5px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    #money-icon {
                        width: 17px;
                        height: 16px;
                    }
                }
            }
        }
    }
}