#tasks-page {
    height: 100vh;  
    color: #f2f2ff;
    background: #1D1620;
    display: flex;
    flex-direction: column;
    main{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}