#tasks-page {
    height: 100vh;  
    color: #f2f2ff;
    background: #1D1620;
    display: flex;
    flex-direction: column;
    main{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 20px;
        
        
        #leftSec{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 80vh;

           
            #objective{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
            }
        }

        #rightSec{
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}